*
!*/

!.gitignore
!.gitattributes

!LICENSE

!*.go
!*.html
!*.css
!*.js
!*.vue
!go.sum
!go.work
!go.work.sum
!*.mod

!*.ps1
!*.bat
!*.yml

!*.md

*.exe
*.syso
*.ico
rsrc.exe
.idea/
folder_port_temp/
temp_unzip/
rar_port_temp/
import_temp/
recent_packs.json
Java/
Bedrock/

frontend/node_modules/
frontend/dist/
frontend/wailsjs/
build/
