*
!*/

!.gitignore
!.gitattributes

!LICENSE

!*.go
!*.html
!*.css
!*.js
!*.json
!*.vue
!*.png
!*.ico
!go.sum
!go.work
!go.work.sum
!*.mod

!*.ps1
!*.bat
!*.yml

!*.md
!*.uidx

*.exe
*.syso
rsrc.exe
.idea/
folder_port_temp/
temp_unzip/
rar_port_temp/
import_temp/
recent_packs.json
Java/
Bedrock/

frontend/node_modules/
frontend/dist/
frontend/wailsjs/
build/bin/

.env
.env.*
*.log
*.bak
*.tmp
*.swp
*.swo
*.DS_Store
Thumbs.db
*.dll
*.pdb
.wails/
